.carousel-container {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  
  .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .carousel-button {
    position: absolute;
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .carousel-button:hover {
    background-color: #000;
    color: #fff;
  }
  
  .carousel-button.prev {
    top: 50%;
    left: 10px;
    cursor: pointer;
  }
  
  .carousel-button.next {
    top: 50%;
    right: 10px;
    cursor: pointer;
  }
  