.carousel-container {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
   
  .carousel-image {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
  }
  
 
  
  .carousel-button:hover {
    background-color: #000;
    color: #fff;
  }
  

  @media only screen and (max-width: 767px) and (min-width:350px){

   .carousel-container{
    height: auto;
   }
   .carousel-image{
    height: auto;
   }
  
}

  