nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
   
  }
  .top-fix{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  
  nav img {
    width: 50px;
    height: 50px;
  }
  
  nav input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    border: 2px solid #c9048f;
  }
  
  nav a {
    color: #000;
    text-decoration: none;
    margin-right: 20px;
  }
  nav a:hover {
    color: #999999;
  }
    .creds{
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    @media only screen and (max-width: 768px) {
      nav {
      flex-wrap: wrap;
      }
      
      nav input {
      margin-left: 0;
      }
      
      .creds {
      flex-wrap: wrap;
      justify-content: center;
      }
      
      .nav-right {
      width: 100%;
      justify-content: center;
      }
      .searchbar{
        display: none;
      }
      }