*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: #fff;
    height: 80px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 500;
}

/* * ===================== Navbar =============== */
.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    align-items: center;
    padding: 0px 20px;
    position: relative;
}

.logo{
    width: 90px;
    cursor: pointer;
}

.flex{
    display: flex;
    align-items: center;
}

.hide{
    display: none;
    cursor: pointer;
}

.show{
    display: block;
    cursor: pointer;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    font-size: 18px;
    font-weight: 600;
    list-style: none;
}

.ham{
    font-size: 25px;
    /* padding: 10px; */
    display: none;
    cursor: pointer;
}

/** ============= Mega Menu ================== */
.megamenu{
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: auto;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.megamenu > div{
    padding: 10px;
    margin: 1%;
}

.megamenu ul{
    list-style: none;
}

.megamenu li{
    padding: 7px;
    margin-top: 3px;
}

.megamenu li:hover{
    background-color: #ffdde3;
    cursor: pointer;
}

.megamenu h3{
    color: rgb(183, 112, 124);
    font-size: 20px;
}

.nav li:hover .megamenu{
    opacity: 1;
    visibility: visible;
    top: 100%;
}

/** ==================== Search Dropdown ============= */

.searchDropdown{
    position: fixed;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    top: -100%;
    height: 100px;  
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    transition: all 0.7s;
    font-size: 18px;
    z-index: 1000;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;}
    
.searchDropdown input {
    width: 100%;
    height: 50px;
    background-color: #ffdde378;
    border: 1px solid rgb(198, 76, 155);
    padding-left: 10px;
}

.openSearchDropdown{
    top: 15%;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    backdrop-filter: blur(2px);
    z-index: 750;
}

/** ==================== Cart Div ============= */

.cartSpan{
    position: relative;
    font-size: 19px;
}

.cartCount{
    position: absolute;
    top: -93%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: #ffdde3;
    font-weight: 700;
}



@media all and (min-width: 651px) and (max-width: 750px) {
    .megamenu{
        width: 70%;
    }
}


@media all and (max-width: 650px) {
    .ham{
        display: block;
    }
    
    .logo{
        padding: 20px;
    }

    .hide{
        display: block;
    }
    
    .show{
        display: none;
    }

    /** ============= Navbar ================== */


    .nav{
        position: absolute;
        top: 200%;
        background-color: #fff;
        left: 0;
        width: 100%;
        flex-direction: column;
        /* border: 2px solid red; */
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s;
    }
    
    .openHamMenu{
        top: 100%;
        opacity: 1;
        visibility: visible;
    }

    .nav li{
        width: 100%;
        padding: 10px;
        border: 1px solid rgba(211, 211, 211, 0.505);
    }

    .nav li:hover{
        background-color: #ffdde3;
    }

    /** ============= Mega Menu ================== */


    .megamenu{
        top: 0%;
        left: 0;
        height: 330px;
        width: 100%;
        left: 0%;
        transform: translateX(0%);
    }

    .megamenu > div{
        margin-left: 0;
    }

    .nav li:hover .megamenu{
        opacity: 1;
        visibility: visible;
        top: 0%
    }

    /** ============= Search Bar ================== */

}